In [9]:
import os
import pandas as pd

In [10]:
# Read valuation dataframe from CSV. 
df = pd.read_csv('output/Valuations.csv')

In [11]:
df

,Utility,Service City,NEM Tariff,System Size AC,Normalized Annual Value (Flat Rate),Normalized Annual Value (TOU Rate),Normalized Annual Value (LMP),Annual Value (NEM),Annual Value (LMP)
0,SCE,NORCO,2.0,14.097,409.811069,431.165092,100.088394,6078.134309,1410.946089
1,SCE,REDLANDS,2.0,10.025,409.811069,431.165092,100.088394,4322.430052,1003.386149
2,SCE,PALMDALE,2.0,7.585,409.811069,431.165092,100.088394,3270.387226,759.170468
3,SCE,WESTMINSTER,2.0,7.368,409.811069,431.165092,100.088394,3176.824401,737.451287
4,SCE,VENTURA,2.0,7.562,409.811069,431.165092,100.088394,3260.470429,756.868435
...,...,...,...,...,...,...,...,...,...
1500388,SDGE,SAN DIEGO,1.0,4.000,785.779752,408.658279,97.475923,3143.119008,389.903691
1500389,SDGE,SAN DIEGO,1.0,1.500,785.779752,408.658279,97.475923,1178.669628,146.213884
1500390,SDGE,IMPERIAL BEACH,1.0,4.000,785.779752,408.658279,97.475923,3143.119008,389.903691
1500391,SDGE,RAMONA,1.0,2.000,785.779752,408.658279,97.475923,1571.559504,194.951846
1500392,SDGE,WARNER SPRINGS,1.0,2.500,785.779752,408.658279,97.475923,1964.449380,243.689807

In [12]:
df.describe(include='all')

,Utility,Service City,NEM Tariff,System Size AC,Normalized Annual Value (Flat Rate),Normalized Annual Value (TOU Rate),Normalized Annual Value (LMP),Annual Value (NEM),Annual Value (LMP)
count,1500393,1500393,1.500393e+06,1.500393e+06,1.500393e+06,1.500393e+06,1.500393e+06,1.500393e+06,1.500393e+06
unique,3,1182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,PGE,SAN DIEGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,700084,79179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.642279e+00,6.033560e+00,5.787429e+02,5.016884e+02,1.036079e+02,3.166924e+03,6.256080e+02
std,NaN,NaN,4.793296e-01,5.141241e+00,1.380971e+02,8.352110e+01,4.748729e+00,2.665370e+03,5.285440e+02
min,NaN,NaN,1.000000e+00,2.000000e-03,4.098111e+02,4.086583e+02,9.747592e+01,1.181219e+00,2.171896e-01
25%,NaN,NaN,1.000000e+00,3.779000e+00,4.098111e+02,4.311651e+02,1.000884e+02,1.876115e+03,3.883441e+02
50%,NaN,NaN,2.000000e+00,5.320000e+00,6.331875e+02,4.311651e+02,1.000884e+02,2.737898e+03,5.504862e+02
75%,NaN,NaN,2.000000e+00,7.459000e+00,6.331875e+02,5.906093e+02,1.085948e+02,3.947633e+03,7.734120e+02
max,NaN,NaN,2.000000e+00,9.988000e+02,7.857798e+02,5.906093e+02,1.085948e+02,4.755270e+05,9.996829e+04